# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands on practice creating and using lambda functions.

## Objectives
You will be able to:
* Understand what lambda functions are and why they are useful
* Use lambda functions to transform data within lists and DataFrames

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv')
df.head(2)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple Arithmetic

Use a lambda function to create a new column called 'stars_squared' by squarring the stars column.

In [6]:
df['stars_squared'] = df['stars'].map(lambda x: x**2)
df['stars_squared']

0       25
1        1
2       25
3        1
4       25
5        1
6       25
7       25
8        1
9        1
10      25
11      25
12      16
13      25
14      25
15       4
16      25
17       1
18      25
19      25
20      16
21       1
22      16
23      25
24      16
25       1
26       1
27      16
28      16
29      16
        ..
2580    16
2581    25
2582    16
2583     1
2584    25
2585    16
2586    25
2587     4
2588    25
2589    25
2590    16
2591    25
2592     4
2593    25
2594     9
2595    16
2596     4
2597     1
2598    16
2599     1
2600    25
2601     4
2602    25
2603    16
2604     1
2605    25
2606    25
2607    25
2608     4
2609     1
Name: stars_squared, Length: 2610, dtype: int64

## Dates
Select the month from the date string using a lambda function.

In [12]:
df['date'].map(lambda x: x[5:7]).head()

0    11
1    10
2    09
3    02
4    06
Name: date, dtype: object

## What is the average number of words for a yelp review?
Do this with a single line of code!

In [14]:
df['text'].map(lambda x: len(x.split())).mean()

77.06551724137931

## Create a new column for the number of words in the review.

In [18]:
df['num_words'] = df.text.map(lambda x : len(x.split()))
df['num_words'].head()

0    58
1    30
2    30
3    82
4    32
Name: num_words, dtype: int64

## Rewrite the following as a lambda function. Create a new column 'Review_Length'

In [5]:
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
#Hint: nest your if, else conditionals

In [20]:
df['review_length'] = df['num_words'].map(lambda x: "Short" if x < 50 else('Medium' if x < 80 else 'Long'))
df['review_length'].head()

0    Medium
1     Short
2     Short
3      Long
4     Short
Name: review_length, dtype: object

## Level Up: Dates Advanced!
<img src="images/date_format_map.png" width="600">  

Overwrite the date column by reordering the month and day from YYYY-MM-DD to DD-MM-YYYY. Try to do this using a lambda function.

In [21]:
df.date.map(lambda x: '{}-{}-{}'.format(x[-2:], x[5:7], x[:4]))

0       13-11-2012
1       23-10-2014
2       05-09-2014
3       25-02-2011
4       15-06-2016
5       23-09-2016
6       23-08-2014
7       16-08-2017
8       18-11-2017
9       18-11-2017
10      10-12-2015
11      12-02-2012
12      12-02-2012
13      12-02-2012
14      12-02-2012
15      03-06-2014
16      18-11-2016
17      05-11-2015
18      05-11-2015
19      21-01-2017
20      06-11-2016
21      28-05-2016
22      08-05-2016
23      11-10-2012
24      08-04-2017
25      09-04-2017
26      17-11-2010
27      10-04-2016
28      10-03-2016
29      24-02-2016
           ...
2580    08-09-2015
2581    12-07-2013
2582    27-07-2016
2583    12-10-2015
2584    20-06-2017
2585    17-10-2015
2586    25-06-2015
2587    14-08-2012
2588    02-07-2015
2589    22-03-2015
2590    02-10-2007
2591    17-07-2016
2592    03-08-2015
2593    28-08-2013
2594    25-08-2011
2595    27-02-2014
2596    01-07-2014
2597    20-08-2016
2598    01-08-2011
2599    27-01-2014
2600    14-06-2012
2601    14-01-2014
2602    19-05-2012
2603    01-03-2013
2604    03-11-2013
2605    02-06-2013
2606    14-08-2016
2607    14-06-2016
2608    02-10-2013
2609    15-08-2016
Name: date, Length: 2610, dtype: object

## Summary

Great! Hopefully you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.